{% extends 'index.html' %}

{% block head %} 

{% endblock %}

{% block body %} 


    <div class="hero-container">
        <h1 class="max-text-height-2">Community Watchlists</h1>
    </div>

    {% for watchlist in community_watchlists %}
    <div class="community-watchlists-container">
        <div class="community-watchlist">
            <h2>{{watchlist[2]}}</h2>
            <br>
            <p>Description: {{watchlist[3]}}</p>
            <p>Created by: {{watchlist[1]}}</p>
            <br>
            <a class="square-button" href="/community_watchlist/{{watchlist[0]}}">View</a>

        </div>
    </div>
    {% endfor %}



{% endblock %}