<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cineaste - Discover And Share Your Favourite Movies</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% block head %} {% endblock %}
</head>
<body>

    <nav class="navbar">
        <div class="navbar-block-1">
            <a id="logo" href="/">Cineaste</a>
            <a href="#">Reviews</a>
            <a href="/about">About</a>
        </div>
        <div class="navbar-block-2">
            <form action="/search_results" method="POST">
                <input id="search" type="text" name="movie" placeholder="Search for movies, TV shows...">
                <input id="submit" type="submit" name="search" id="submit-button">
            </form>
        </div>
        <div class="navbar-block-3">
            {% if session.user_id %}
                <a href="/profile">Profile</a>
                <a href="/logout">Log out</a>
            {% else %}
                <a href="/login">Log in</a>
                <a href="/sign_up">Sign up</a>
            {% endif %}
        </div>
    </nav>

    {% block body %} 

        <div class="hero-container hc1">
            <div class="hero-block-1">
                <h1>Dive into the film world</h1>
                <br>
                <p>Join the community of cinephiles and share your thoughts on community driven watchlists.</p>
                <a href="/sign_up">Get Started - It's Free</a>
            </div>
            <div class="hero-block-2">
                <img src="{{ url_for('static', filename='good-morning.jpeg') }}" alt="">
    
    
            </div>
        </div>
    
        <section class="latest-news-container">
            <div class="border latest-1"></div>
            <div class="border latest-2"></div>
            <div class="border latest-3"></div>
            <div class="border latest-4"></div>
        </section>
    
        {% endblock %}
</body>
</html>

