<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cineaste - Discover And Share Your Favourite Movies</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://kit.fontawesome.com/e45a6bb491.js" crossorigin="anonymous"></script>
    {% block head %} {% endblock %}
</head>
<body>

    <nav class="navbar">
        <div class="navbar-block-1">
            <a id="logo" href="/">Cineaste</a>
            <a href="/community_watchlists">Watchlists</a>
            <a href="/about">About</a>
        </div>
        <div class="navbar-block-2">
            <form action="/search_results" method="POST">
                <input id="search" type="text" name="movie" placeholder="Search for movies, TV shows...">
                <input id="submit" type="submit" name="search" id="submit-button" value="GO">
            </form>
        </div>
        <div class="navbar-block-3">
            {% if session.user_id %}
                <a href="/profile">Profile</a>
                <a href="/logout">Log out</a>
            {% else %}
                <a href="/login">Log in</a>
                <a href="/sign_up">Sign up</a>
            {% endif %}
        </div>
    </nav>

    {% block body %} 

        <div class="hero-banner-image">
            <img src="{{ url_for('static', filename='good-morning.jpeg') }}" alt="">
        </div>

        <div class="main-container-index">
            <div class="hc1">
                <div class="hero-block-1">
                {% if session.user_id %}
                    <h1>Share your life in film</h1>
                    <br>
                    <p>Start sharing your playlists to the community now!</p>
                <div class="call-to-action">
                    <a href="/profile">Compile your lists</a>
                </div>
                {% else %}
                    <h1>Dive into the film world</h1>
                    <br>
                    <p>Join the community of "cineastes" and share your thoughts on community driven watchlists.</p>
                </div>
                <div class="call-to-action">
                    <a href="/sign_up">Get Started - It's Free!</a>
                </div>
                {% endif %}
            
            </div>
            <div class="hc2">
                <div class="hero-block-2">
                    <img src="{{poster}}" alt="">
                    <h3>{{title}}</h3>
                </div>
            </div>
        </div>


        {% endblock %}

        <footer class="footer">
            <div class="footer-block-1">
                <h3>Discover</h3>
                <a href="#">Watchlists</a>
                <a href="#">About</a>
            </div>
            {% if session.user_id %}
            {% else %}
                <div class="footer-block-2">
                    <h3>Community</h3>
                    <a href="#">Sign up</a>
                    <a href="#">Log in</a>
                </div>
            {% endif %}
            <div class="footer-block-3">
                <h3>Legal</h3>
                <a href="#">Terms of Service</a>
                <a href="#">Privacy Policy</a>
            </div>
            <div class="footer-block-4">
                <h3>Follow</h3>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-tiktok"></i></a>
            </div>
        </footer>
</body>
</html>

