{% extends 'index.html' %}

{% block head %} 

{% endblock %}

{% block body %} 

{% if session.user_id %}
    <a href="/">Home</a>
    <a href="/logout">Log out</a>
{% else %}
    <a href="/login">Log in</a>
{% endif %}

<!-- FOR PROFILE -->
<form action="/upload_profile_picture" method="POST" enctype="multipart/form-data">
    <input type="file" name="image" accept="image/*" required>
    <input type="submit" value="Upload Profile Picture">
</form>

<div class="avatar">{{ avatar | safe }}</div>
<!-- <img src="http://res.cloudinary.com/diykkuhmu/image/upload/t_thumbnail/{{ avatar }}/"> -->
<div class="f_name">{{ f_name }}</div>
<div class="l_name">{{ l_name }}</div>
<div class="bio">{{ bio }}</div>

<!-- FOR FAVOURITE MOVIES -->
{% for movie in fave_movies %}
<div>{{ movie[3] }}</div>
<img src="{{ movie[4] }}" alt="">
<form action="/remove_favourite" method="POST">
    <input type="type" value="{{ result }}" name="remove_favourite" hidden>
    <input type="submit" name="remove_favourite" value="REMOVE">
</form>
{% endfor %}

<!-- FOR PLAYLIST -->
{% for list in watch_list %}
<div>{{ list[2] }}</div>
<div>{{ list[3] }}</div>
<a href="/watch-list/{{list[0]}}">Watch List</a>
<a href="/delete_watchlist/{{list[0]}}">DELETE</a>
{% endfor %}



{% endblock %}