{% extends 'index.html' %}

{% block head %} 

{% endblock %}

{% block body %} 

<div class="hero-container" id="profile-hero-style">
    <h1 class="max-text-height-2">YOUR PROFILE, <span class="bg-text-green">{{ f_name }}</span>.</h1>
</div>

<!-- FOR PROFILE -->

<div class="box flex">
    <div class="a">
        <div class="avatar-container">

            <div class="avatar">{{ avatar | safe }}</div>
            <br>
            <form action="/upload_profile_picture" method="POST" enctype="multipart/form-data">
                <input type="file" name="image" accept="image/*" required>
                <input type="submit" value="Upload Profile Picture">
                <br>
            </form>
        

            <div class="bio">
                <br>
                <h3 class="f_name">Name: {{ f_name }} {{ l_name }}</h2>
                    <br>
                <h4 class="bio">Bio: {{ bio }}</h3>
            </div>
        
        </div>
    </div>
    <div class="b-c flex column">
      <div class="b">
        <br>
        <h2>Your Top Movies</h2>
        <br>
        <div class="favourite-movies-container">
                {% for movie in fave_movies %}
                <div class="contents">
                    <img src="{{ movie[4] }}" alt="">
                    <br>
                    <p>{{ movie[3] }}</p>
                    <br>
                    <div class="remove-button">
                        <a class="" href="/delete_from_fave_movies/{{movie[2]}}">DEL</a>
                    </div>
                </div>
            
                {% endfor %}
        </div>

      </div>
      <div class="c">
        <br>
        <h2>Your Watchlists</h2>
        <br>
        <div class="watchlist-container">
            {% for list in watch_list %}
            <div class="contents">
                <h3>{{ list[2] }}</h3>
                <h4>{{ list[3] }}</h4>
                <a href="/watch-list/{{list[0]}}">Watch List</a>
                <a href="/delete_watchlist/{{list[0]}}">DELETE</a>
            </div>
            {% endfor %}
        </div>

      </div>
    </div>
<div>





<!-- <img src="http://res.cloudinary.com/diykkuhmu/image/upload/t_thumbnail/{{ avatar }}/"> -->


{% endblock %}