{% extends 'index.html' %}

{% block head %} 

{% endblock %}

{% block body %} 

<div class="hero-container bb">
    <h1 class="max-text-height-2">Your Watchlist</h1>
</div>

<div class="main-container">
    <h1>ALL THE MOVIES IN THIS WATCHLIST</h1>
    <!-- THIS IS A LIST OF WATCH LISTS -->

    {% for movie in movie_list_data %}
        <div class="watchlist-search-result-container">
            <div class="poster-container">
                <img src="{{movie['Poster']}}" alt="Image of {{ movie['Title'] }} Poster">
            </div>
            <div class="movie-description">
                <a href="/movie_info/{{movie['Title']}}"><h2>{{movie['Title']}}</h2></a>
                <p>{{movie['Year']}}</p>
                <p>{{movie['Director']}}</p>
                <p>{{movie['Genre']}}</p>
                <p>{{movie['Plot']}}</p>
                <a href="/delete_from_watchlist/{{movie['imdbID']}}">Delete</a>
            </div>
        </div>
    {% endfor %}


    <h2>SEARCH MOVIE TO ADD</h2>
    <form action="/watch_list_search_result/" method="POST">
        <input type="text" name="movie">
        <input type="submit" name="search" id="submit-button">
    </form>
</div>
    

{% endblock %}