{% extends 'index.html' %}

{% block head %} 

{% endblock %}

{% block body %} 
    <h1>ALL THE MOVIES IN THIS WATCHLIST</h1>
    <!-- THIS IS A LIST OF WATCH LISTS -->


    {% for movie in movie_list_data %}
    <div>{{movie['Title']}}</div>
    <div>{{movie['Year']}}</div>
    <div>{{movie['Director']}}</div>
    <img src="{{movie['Poster']}}" alt="">
    <a href="/delete_from_watchlist/{{movie['imdbID']}}">Delete</a>
    {% endfor %}


    <h2>SEARCH MOVIE TO ADD</h2>
    <form action="/watch_list_search_result/" method="POST">
        <input type="text" name="movie">
        <input type="submit" name="search" id="submit-button">
    </form>

{% endblock %}